@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Noto+Sans+KR:wght@900&family=Shadows+Into+Light&family=Stylish&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Stylish', sans-serif;
  line-height: 160%;
}

body{ 
  max-width: 100%;
  width: 100%;
  height: auto;
  background: linear-gradient(to right bottom, #DCE35B, #4e4376);
  margin-top: 50px; 
  margin-bottom: 50px; 
}

.lines{
  width: 100%;
  border-bottom: 3px solid snow;
}

.headerr{
  width: 100%;
  height: 650px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2{
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 2px;
}

button{
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 2px;
  text-decoration-line : none;
  color: black;
  border: 1px solid green;
  border-radius: 10px;
  padding: 8px;
  font-size: 20px;                                                                     ;    
}

button:hover{
  background-color: green;
  width:150px;
  height: auto;
}

.title{
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  font-size: 35px;
  padding-top: 10px;
  text-shadow: 2px 2px gray;
  display: block;
  letter-spacing: 3px;
}

#char{
  display: flex;
  justify-content: center;
  margin-right: 100px;
}

.choose{
  display: inline-block;
}

.myphoto{
  width: 50%;
  position: sticky;
  top: 70px;
  bottom: 50px;
}

.myphoto img {
  transition-property: width, height;
  transition-duration: 1s,1s;
  border: 2px solid wheat;
}

.myphoto > img:hover{
  width:60%;
  height: auto;
}

img{
  margin: 10px;; 
  border-radius: 25px;
  margin-left: 100px;
  
}

.section{
 width: 100%;
 height: auto;
 display: flex;
 align-items: center;
}
.section1{
  width: 60%;
  margin-right: 10%;
  float: left;
  margin-bottom: 100px;
  height: auto;
}

.section11{
  margin-top: 50px;
  width: 60%;
  margin-left: 10%;
  float: left;
  height: auto;
  margin-bottom: 10px;
}

li{
  margin: 5px;
  font-size: 18px;
}

#topline{
  border-top: 2px solid white;
}

a[title |= insta]{
  padding: 5px 25px;
  background: url("images/photo4.png") no-repeat left center;
  background-size: 20px;
  color: white;
}

a[title |= facebook]{
  padding: 5px 25px;
  background: url("images/photo5.png") no-repeat left center;
  background-size: 18px;
  color: white;
}

a[title |= blog]{
  padding: 5px 25px;
  background: url("images/photo6.png") no-repeat left center;
  background-size: 18px;
  color: white;
}


a[title |= Github]{
  padding: 5px 25px;
  background: url("images/photo8.jpg") no-repeat left center;
  background-size: 18px;
  color: white;
}

nav{
  text-align: right;
  border: 2px solid white;
  float: right;
  margin-right: 10px;
  padding-left: 20px
}
 #sns{
  display: inline-block;
  margin-right: 30px;
 }

 .again{
   margin-left: 10%;
   float: left;
 }

 footer{
   height: 20px;
   width: 100%;
   position: sticky;
   bottom: 40px;
   margin-top: 10px;
 }
